
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    max-width: 500px;
    margin: 0 auto;
}

.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}